.fourth {
  max-width: 1020px;
  margin: auto;
  width: 70%;
  text-align: center;
  padding: 5% ;
}
.section-heading-2 {
  text-align: center;
  font-size: 36px;
  line-height: 1.3;
}
.green-gradient-span {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(97deg, #00bf72, #00acb4);
  -webkit-background-clip: text;
  background-clip: text;
}

.section-subheading {
  text-align: center;
  margin-top: 24px;
  font-family: DM Sans, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.4;
}
@media (max-width: 767px) {
  .section-heading-2 {
    font-size: 20px;
  }
  .fourth{
      padding: 5% 1%;
  }
}
@media (max-width: 991px) {
  .section-subheading {
    font-size: 20px;
  }
}
